@model UWAdventure.WebApp.Models.RecentOrdersModel
@{
    ViewBag.Title = "Recent Orders - Last " + Model.Days + " days";
}

<h2>Recent Orders from @Model.StartDate.ToString("M/d/yyyy") to @Model.EndDate.ToString("M/d/yyyy")</h2>

Showing @Model.Orders.Count orders.



<table class="table-responsive table-striped table">
    <tr>
        <th>Date</th>
        <th>Order No</th>
        <th>Customer</th>
        <th>Amount</th>
        <th>Status</th>
    </tr>

@foreach(var order in Model.Orders)
{
    <tr class="@(order.Status == UWAdventure.Enum.OrderStatus.Rejected ? "danger" : "")">
        <td>@order.OrderDate.ToString("M/d/yyyy")</td>
        <td>@Html.ActionLink(order.OrderNumber.ToString(), "StaffOrderDetail", new { order_number = order.OrderNumber })</td>
        <td>@order.Customer.FirstName @order.Customer.LastName</td>
        <td>@order.Items.Sum(item => item.Quantity * item.Price).ToString("c")</td>
        <td>@order.Status.ToString()</td>
    </tr>
}
</table>